<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </nav>
    </head>
    <header>{{navbar}}</header>
    <body>
        {{{body}}}
    </body>
    <footer>I am footer</footer>
    <script></script>
</html>
