<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">Friendify</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Your Profile</a></li>
            <li><a href="#">Friends</a></li>
        </ul>
    </nav>
    </head>
    <body>
        {{{body}}}
    </body>
    <script></script>
</html>
