<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main-styles.css" />
</head>
<header>{{navbar}}</header>

<body>
    {{{body}}}
</body>
<footer>I am footer</footer>
<script></script>

</html>
