.results-container {
  text-align: left;
}

.artist-item .artist-image{
  display: inline-block;
}

.artist-item .artist-info {
  display: inline-block;
  padding: 0px 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
    
.artist-item .artist-image:hover + .artist-info {
  opacity: 1;
}
  