#friendify-title {
  text-align: center;
  padding: 40px 15px;
  margin: 20px 0px;
  font-family: 'Gotham Rounded', sans-serif;
  background-color: #008000;
  color: #fff;
}

#navbar {
  display: flex;
  align-items: left;
  justify-content: start;
  padding: 15px;
  margin: 20px 0px;
  font-family: 'Gotham Rounded', sans-serif;
  background-color: #008000;
  color: #fff;
  list-style-type: none;
  overflow: hidden;
}

.nav-option {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-option:hover {
  color: #355E3B;
}

.nav-active {
  background-color: white;
  color: #008000;
  border-radius: 20%;
}

body {
  height: 100%;
  background-color: #E3EEE2;
  padding: 30px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  text-align: center;
}

.profile-photo {
  border-radius: 50%;
}

.error-message {
  color: red;
}

.footer {
  /* position: fixed; */
  padding: 20px 15px;
  margin: 30px 0px;
  /* width: 100%; */
  background-color: #008000;
  color: white;
  text-align: center;
}
