#friendify-title {
  text-align: center;
  padding: 40px 15px;
  margin: 20px 0px;
  font-family: 'Gotham Rounded', sans-serif;
  background-color: #1DB954;
  color: #fff;
}

#navbar {
  display: flex;
  align-items: left;
  justify-content: start;
  padding: 15px;
  margin: 20px 0px;
  font-family: 'Gotham Rounded', sans-serif;
  background-color: #1DB954;
  color: #fff;
  list-style-type: none;
  overflow: hidden;
}

.nav-option {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-option:hover {
  color: #2E6A33;
}

.nav-active {
  background-color: #1ED760;
}