.track-item .track-image{
  display: inline-block;
}

.track-item .track-info {
  display: inline-block;
  padding: 0px 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
    
.track-item .track-image:hover + .track-info {
    opacity: 1;
}
  