<div class="landing">
    <h1>Welcome to Friendify!</h1>
    <p class="app-description">
        This website offers a platform for users to compare their music taste with friends and discover new music using Spotify data. 
        It features a dashboard displaying a user's top 50 songs and artists, and allows them to search, add, and manage friends. 
        The core functionality includes generating a music compatibility score, providing insights into shared preferences, and recommending top songs and artists based on similarities.
    </p>
    <div class="landing-buttons">
        <a href="/users/login">Login</a>
        <a href="/users/register">Register</a>
</div>
