<p>We're sad to see you go! To fully log out please go to
<a href="http://accounts.spotify.com/" target="_blank" rel="noopener noreferrer">accounts.spotify.com</a>
and press log out.
</p> <br>
<a href="/">Back to Login</a>
