<div class="container">    

    <script src="../../public/js/top_tracks.js"></script>

    <form action="/users/toptracks" method="POST">
        <label for="time_range">Select Timeframe:</label>
        <select id="time_range" name="time_range">
            <option value="short_term">Last Month</option>
            <option value="medium_term">Last 6 Months</option>
            <option value="long_term">All-Time</option>
        </select>
        <input type="submit" value="Send">
    </form>

    <div class="spotify-data">
        <a href="/users/dashboard">
            <button>Back to Profile</button>
        </a>
        <a href="/users/topartists">
            <button>Top 50 Artists</button>
        </a>
        <a href="/users/dailyplaylist">
            <button>Daily Playlist</button>
        </a>
    </div>

    <div class="results">
        <h2>Top 50 Tracks</h2>
        <div class="results-container">
            {{#each topTracks}}
                <div class="track-item">
                    <div class="track-image">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    </div>
                    <div class="track-info">
                        <h3>{{trackName}}</h3>
                        <p>Artist: {{artistName}}</p>
                    </div>
                </div>
            {{/each}}
    </div>

</div>