<link rel="stylesheet" href="../../public/css/artists.css">

<div class="container">    

    <nav id="navbar" class="spotify-data">
        <a href="/users/dashboard" class="nav-option">Profile</a>
        <a href="/users/toptracks" class="nav-option">Top 50 Tracks</a>
        <a href="/users/topartists" class="nav-option nav-active">Top 50 Artists</a>
        <a href="/users/dailyplaylist" class="nav-option">Daily Playlist</a>
        <a href="/users/logout" class="nav-option">Logout</a>
    </nav>

    <form action="/users/topartists" method="POST">
        <label for="time_range">Select Timeframe:</label>
        <select id="time_range" name="time_range">
            <option value="short_term">Last Month</option>
            <option value="medium_term" selected>Last 6 Months</option>
            <option value="long_term">All-Time</option>
        </select>
        <input type="submit" value="Show Artists">
    </form>


    <div class="results">
        <h2>Top 50 Artists</h2>
        <div class="results-container">
            {{#each topArtists}}
                <div class="artist-item">
                    <div class="artist-image">
                    <img src="{{image}}" alt="Artist Image" class="img-thumbnail" width="200" height="200">
                    </div>
                    <div class="artist-info">
                        <h3>{{artistName}}</h3>
                        <p>Genres: {{genres}}</p>
                        <p>Followers: {{followerCount}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    
</div>