<div class="container">    
    <label for="timeframe">Select Timeframe:</label>
    <select id="timeframe" name="timeframe">
        <option value="4weeks">Last Month</option>
        <option value="6months">Last 6 Months</option>
        <option value="alltime">All-Time</option>
    </select>

    <div class="spotify-data">
        <button type="button" href="./userProfile.handlebars">Back to Profile</button>
        <button type="button" href="./top-artists.handlebars">Top 50 Artists</button>
        <button type="button" href="./daily-playlist.handlebars">Daily Playlist</button>
    </div>

    <div class="results">
        <h2>Top 50 Tracks</h2>
        <div class="results-container">
            {{#each topSongs}}
                <div class="track-item">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    <h3>{{trackName}}</h3>
                    <p>Artist: {{artistName}}</p>
                </div>
            {{/each}}
    </div>

</div>