<div class="container">    
    
    <form action="/users/topartists" method="POST">
        <label for="time_range">Select Timeframe:</label>
        <select id="time_range" name="time_range">
            <option value="short_term">Last Month</option>
            <option value="medium_term" selected>Last 6 Months</option>
            <option value="long_term">All-Time</option>
        </select>
        <input type="submit" value="Send">
    </form>

    <div class="spotify-data">
        <a href="/users/dashboard">
            <button>Back to Profile</button>
        </a>
        <a href="/users/toptracks">
            <button>Top 50 Tracks</button>
        </a>
        <a href="/users/dailyplaylist">
            <button>Daily Playlist</button>
        </a>
    </div>

    <div class="results">
        <h2>Top 50 Artists</h2>
        <div class="results-container">
            {{#each topArtists}}
                <div class="artist-item">
                    <div class="artist-image">
                    <img src="{{image}}" alt="Artist Image" class="img-thumbnail" width="200" height="200">
                    </div>
                    <div class="artist-info">
                        <h3>{{artistName}}</h3>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    
</div>