<link rel="stylesheet" href="../../public/css/tracks.css">

<div class="container">    

    <script src="../../public/js/top_tracks.js"></script>

    <nav id="navbar" class="spotify-data">
        <a href="/users/dashboard" class="nav-option">Profile</a>
        <a href="/users/toptracks" class="nav-option nav-active">Top 50 Tracks</a>
        <a href="/users/topartists" class="nav-option">Top 50 Artists</a>
        <a href="/users/dailyplaylist" class="nav-option">Daily Playlist</a>
    </nav>

    <form action="/users/toptracks" method="POST">
        <label for="time_range">Select Timeframe:</label>
        <select id="time_range" name="time_range">
            <option value="short_term">Last Month</option>
            <option value="medium_term">Last 6 Months</option>
            <option value="long_term">All-Time</option>
        </select>
        <input type="submit" value="Show Tracks">
    </form>

    <div class="results">
        <h2>Top 50 Tracks</h2>
        <div class="results-container">
            {{#each topTracks}}
                <div class="track-item">
                    <div class="track-image">
                    <img src="{{image}}" alt="Song Image" class="img-thumbnail" width="200" height="200">
                    </div>
                    <div class="track-info">
                        <h3>{{trackName}}</h3>
                        <p>Artist: {{artistName}}</p>
                        <p>Album: {{albumName}}</p>
                    </div>
                </div>
            {{/each}}
    </div>

</div>