<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Friendify</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Your Profile</a></li>
            <li><a href="#">Friends</a></li>
        </ul>
    </nav>
    
    <div class="user-info">
        <img src="{{profilePicture}}" alt="Profile Picture" class="img-thumbnail" width="200" height="200">
        <h2>{{username}}</h2>
        <p>Likes: {{likeCount}}</p>
    </div>
    <label for="timeframe">Select Timeframe:</label>
    <select id="timeframe" name="timeframe">
        <option value="4weeks">4 Weeks</option>
        <option value="6months">6 Months</option>
        <option value="alltime">All-Time</option>
    </select>
    <div class="spotify-data">
        <button type="button">Top 50 Songs</button>
        <button type="button">Top 50 Artists</button>
        <button type="button">Daily Playlist</button>
    </div>
    <div class="results">
        <div class="Songs">
            
        </div>
    </div>
    
</div>
